name: CI

on: [push, pull_request]

jobs:
  Linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Dependencies
        run: |
          pip install -r requirements-dev.txt
          pip install pytest pytest-xdist
          pip install isort black pylint

      - name: Black
        run: black . --check --diff

      - name: Pylint
        run: pylint pytest_xdist_tracker

      - name: Isort
        run: isort . --check

  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ 2.7, 3.6, 3.7, 3.8 ]

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        pip install -r requirements-dev.txt
        pip install pytest==3.5.1 pytest-xdist==1.23.2 pytest-forked==1.0.1
        pip install -e .

    - name: Testing
      run: pytest -lvv --junitxml ./results.xml tests/

  Tests-with-latest-pytest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Dependencies
        run: |
          pip install -r requirements-dev.txt
          pip install -U pytest pytest-xdist
          pip install -e .

      - name: Testing
        run: pytest -lvv --junitxml ./results.xml tests/

  Tests-with-master-pytest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Dependencies
        run: |
          pip install -r requirements-dev.txt
          pip install -U git+https://github.com/pytest-dev/pytest.git
          pip install -U git+https://github.com/pytest-dev/pytest-xdist.git
          pip install -e .

      - name: Testing
        run: pytest -lvv --junitxml ./results.xml tests/
